{% extends 'base.html' %}
{% block title %} | Login {% endblock %}

{% block content %}
  <section id='login' class='py-5'>
      <div class='container'>
        <div class='row'>
            <div class='col-md-5 mx-auto'>
              <div class='card bg-light'>
                <div class='card-header bg-primary text-white'>
                    <h4><i class='fas fa-sign-in-alt'></i>Login</h4>
                </div>
                <div class='card-body'>
                   {% include 'partials/_alerts.html' %}
                  <form method='POST' action="{% url 'accounts:login' %}">
                          {% csrf_token %}
                          <div class='form-group'>
                              <label>Username</label>
                              <input class='form-control' type='text' name='username' required>
                          </div>
                          <div class='form-group'>
                            <label>Password</label>
                            <input class='form-control' type='password' name='password' required>
                          </div>
                         <input class='btn btn-secondary btn-block' type='submit' value='Login'>
                  </form>
                </div>        
              </div>   
            </div>
        </div>    
      </div>    
  </section>
{% endblock %}